files:
  "/home/ec2-user/install_pg.sh":
    mode: "000755"
    owner: ec2-user
    group: wheel
    content: |
      sudo rpm -Uvh https://download.postgresql.org/pub/repos/yum/9.6/redhat/rhel-6-x86_64/pgdg-ami201503-96-9.6-2.noarch.rpm
      sudo yum install -y postgresql96
  "/home/ec2-user/pg.sh":
    mode: "000755"
    owner: ec2-user
    group: wheel
    content: |
      host=$(aws rds describe-db-instances --region us-west-2 --db-instance-identifier namethatcard-prod --query 'DBInstances[0].Endpoint.Address')
      dbhost="${host%\"}"
      dbhost="${dbhost#\"}"
      echo "psql -h ${dbhost} namethatcard -U dbates42"
