// game menu buttons

.buttonStyle {
  display: flex;
  width: 25vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  margin: 1vw;
  padding: 0.3em 0 !important;
  border: 0.08em solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  border-radius: 15px;
  color: white;
  user-select: none;
}

.buttonStyle:hover {
  background: radial-gradient(#ea4c88, black);
}

.listButtonStyle {
  display: flex;
  width: 45vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  margin: 1vw;
  padding: 0.3em 0 !important;
  border: 0.08em solid #ea4c88;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  color: white;
  user-select: none;
}

.listButtonStyle:hover {
  background: radial-gradient(#ea4c88, black);
}

.activated {
  display: flex;
  width: 45vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  margin: 1vw;
  padding: 0.3em 0 !important;
  border: 0.08em solid #ea4c88;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  color: white;
  background: radial-gradient(#ea4c88, black);
  user-select: none;
}

.difficultyBoxStyle {
  display: flex;
  max-width: 100%;
  margin: 2vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  user-select: none;
}

.difficultyStyleE {
  display: flex;
  width: 50vw;
  margin-left: 5vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  padding: 0.3em 0 !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-left: 0.08em solid #ea4c88;
  border-top: 0.08em solid #ea4c88;
  border-bottom: 0.08em solid #ea4c88;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  user-select: none;
}

.difficultyStyleE:hover {
  background: radial-gradient(#ea4c88, black);
}

.difficultyStyleM {
  display: flex;
  width: 50vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  padding: 0.3em 0 !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border: 0.08em solid #ea4c88;
  color: white;
  user-select: none;
}

.difficultyStyleM:hover {
  background: radial-gradient(#ea4c88, black);
}

.difficultyStyleH {
  display: flex;
  width: 50vw;
  margin-right: 5vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  padding: 0.3em 0 !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-right: 0.08em solid #ea4c88;
  border-top: 0.08em solid #ea4c88;
  border-bottom: 0.08em solid #ea4c88;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  user-select: none;
}

.difficultyStyleH:hover {
  background: radial-gradient(#ea4c88, black);
}

.difficultyActivated {
  display: flex;
  width: 50vw;
  line-height: 1.8em;
  font-size: 1.3em !important;
  font-weight: 700;
  padding: 0.3em 0 !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-left: 0.08em solid #ea4c88;
  border-top: 0.08em solid #ea4c88;
  border-bottom: 0.08em solid #ea4c88;
  color: white;
  background: radial-gradient(#ea4c88, black);
  user-select: none;
}

// game buttons

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardReveal {
  max-width: 50vw;
  max-height: 50vh;
}

.answersBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
  // width: auto;
  // line-height: 1.8em;
  margin: 2vw;
  justify-content: center;
  color: white;
  user-select: none;
}

.answers {
  width: 100%;
}

#answer1 {
  display: flex;
  // flex-basis: 100%;
  // width: 25vw;
  height: 10vw;
  width: 30vw;
  line-height: 5vw;
  font-size: 3vw !important;
  margin: 1vw;
  padding: 1vw 0 !important;
  border-right: 0.5vw solid #ea4c88;
  border-bottom: 0.5vw solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  user-select: none;
}

#answer1:hover {
  background: radial-gradient(#ea4c88, black);
}

#answer2 {
  display: flex;
  // flex-basis: 100%;
  // width: 25vw;
  height: 10vw;
  width: 30vw;
  line-height: 5vw;
  font-size: 3vw !important;
  margin: 1vw;
  padding: 1vw 0 !important;
  border-right: 0.5vw solid #ea4c88;
  border-top: 0.5vw solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  user-select: none;
}

#answer2:hover {
  background: radial-gradient(#ea4c88, black);
}

#answer3 {
  display: flex;
  // flex-basis: 100%;
  // width: 25vw;
  height: 10vw;
  width: 30vw;
  line-height: 5vw;
  font-size: 3vw !important;
  margin: 1vw;
  padding: 1vw 0 !important;
  border-left: 0.5vw solid #ea4c88;
  border-bottom: 0.5vw solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  user-select: none;
}

#answer3:hover {
  background: radial-gradient(#ea4c88, black);
}

#answer4 {
  display: flex;
  // flex-basis: 100%;
  // width: 25vw;
  height: 10vw;
  width: 30vw;
  line-height: 5vw;
  font-size: 3vw !important;
  margin: 1vw;
  padding: 1vw 0 !important;
  border-left: 0.5vw solid #ea4c88;
  border-top: 0.5vw solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  user-select: none;
}

#answer4:hover {
  background: radial-gradient(#ea4c88, black);
}

.gameButton {
  display: flex;
  width: 30vw;
  line-height: 5vw;
  font-size: 3vw !important;
  font-weight: 700;
  margin: 1vw;
  padding: 0.3em 0 !important;
  border: 0.08em solid #ea4c88;
  cursor: pointer;
  justify-content: center;
  border-radius: 15px;
  color: white;
  user-select: none;
}

.gameButton:hover {
  background: radial-gradient(#ea4c88, black);
}
