// GAME MENU BUTTONS

.gameListButtonStyle {
  display: flex;
  width: 43.5vw;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border: 0.08em solid white;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

.listButtonStyle {
  display: flex;
  width: 43.5vw;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border: 0.08em solid white;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

.allButtonStyle {
  display: flex;
  width: 43.5vw;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border: 0.08em solid white;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// .listButtonStyle:hover {
//   background: radial-gradient(black, white);
// }

.activated {
  display: flex;
  width: 43.5vw;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border: 0.08em solid white;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em black;
  user-select: none;
  background: radial-gradient(black, white);
  user-select: none;
}

.enterButtonStyle {
  display: flex;
  height: 15vh;
  width: 26.68vw;
  line-height: 1.8em;
  font-size: 1.5em !important;
  font-weight: 700;
  padding: 0.3em 0 !important;
  border: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

.difficultyBoxStyle {
  display: flex;
  width: auto;
  margin: 1vh 3.25vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.difficultyStyleE {
  display: flex;
  flex: 2;
  margin-left: auto;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  padding: 0.5em 0.8em !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-left: 0.08em solid white;
  border-top: 0.08em solid white;
  border-bottom: 0.08em solid white;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// .difficultyStyleE:hover {
//   background: radial-gradient(black, white);
// }

.difficultyStyleM {
  display: flex;
  flex: 2;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  padding: 0.5em 0.8em !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border: 0.08em solid white;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// .difficultyStyleM:hover {
//   background: radial-gradient(black, white);
// }

.difficultyStyleH {
  display: flex;
  flex: 2;
  margin-right: auto;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  padding: 0.5em 0.8em !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-right: 0.08em solid white;
  border-top: 0.08em solid white;
  border-bottom: 0.08em solid white;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// .difficultyStyleH:hover {
//   background: radial-gradient(black, white);
// }

.difficultyActivated {
  display: flex;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  padding: 0.5em 0.8em !important;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border-left: 0.08em solid white;
  border-top: 0.08em solid white;
  border-bottom: 0.08em solid white;
  color: white;
  background: radial-gradient(black, white);
  user-select: none;
}

.startButtonStyle {
  display: flex;
  width: 43.5vw;
  line-height: 1.8em;
  font-size: 1em !important;
  font-weight: 700;
  margin: 1.25vh 2.5vw;
  padding: 0.5em 0.8em !important;
  border: 0.08em solid white;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// GAME BUTTONS

.cards {
  display: flex;
  height: auto;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 40vh;
  box-shadow: 0 0 2px #fff, 0 0 0 #fff, 0 0 16px #fff, 0 0 22px rgb(151, 151, 151), 0 0 36px rgb(101, 102, 102), 0 0 38px rgb(69, 69, 70), 0 0 26px rgb(69, 69, 70), 0 0 72px rgb(46, 46, 46);
}

.cardReveal {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
}

.answersBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  user-select: none;
}

.answers {
  width: 100%;
}

.answer1 {
  display: flex;
  height: 3em;
  width: 10em;
  line-height: 1em;
  font-size: 1em !important;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border-right: 0.08em solid white;
  border-bottom: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// #answer1:hover {
//   background: radial-gradient(white, black);
// }

.answer2 {
  display: flex;
  height: 3em;
  width: 10em;
  line-height: 1em;
  font-size: 1em !important;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border-right: 0.08em solid white;
  border-top: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// #answer2:hover {
//   background: radial-gradient(white, black);
// }

.answer3 {
  display: flex;
  height: 3em;
  width: 10em;
  line-height: 1em;
  font-size: 1em !important;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border-left: 0.08em solid white;
  border-bottom: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// #answer3:hover {
//   background: radial-gradient(white, black);
// }

.answer4 {
  display: flex;
  height: 3em;
  width: 10em;
  line-height: 1em;
  font-size: 1em !important;
  margin: 1vh 1vw;
  padding: 0.5em 0.8em !important;
  border-left: 0.08em solid white;
  border-top: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// #answer4:hover {
  //   background: radial-gradient(white, black);
  // }

#correctAnswer {
  color: green;
  text-shadow: 0 0 0.1rem black;
}

#wrongAnswer {
  color: red;
  text-shadow: 0 0 0.1rem black;
}
  
.gameButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.gameButton {
  display: flex;
  width: 30vw;
  height: 5vh;
  line-height: 1.3em;
  font-size: 1.0em !important;
  font-weight: 700;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 0.3em 0 !important;
  border: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
  user-select: none;
}

// .gameButton:hover {
//   background: radial-gradient(black, white);
// }


/*********************************************************
********************* MEDIA QUERIES **********************
*********************************************************/


@media screen and (min-width: 768px) {
  // GAME MENU BUTTONS

  .gameListButtonStyle {
    display: flex;
    width: 33vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .listButtonStyle {
    display: flex;
    width: 33vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .allButtonStyle {
    display: flex;
    width: 33vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .listButtonStyle:hover {
  //   background: radial-gradient(black, white);
  // }

  .activated {
    display: flex;
    width: 33vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
    background: radial-gradient(black, white);
    user-select: none;
  }

  .enterButtonStyle {
    display: flex;
    height: 15vh;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1.5em !important;
    font-weight: 700;
    padding: 0.3em 0 !important;
    border: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .difficultyBoxStyle {
    display: flex;
    width: auto;
    margin: 1vh 1vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .difficultyStyleE {
    display: flex;
    flex: 2;
    margin-left: auto;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleE:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyStyleM {
    display: flex;
    flex: 2;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border: 0.08em solid white;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleM:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyStyleH {
    display: flex;
    flex: 2;
    margin-right: auto;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-right: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleH:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyActivated {
    display: flex;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    color: white;
    background: radial-gradient(black, white);
    user-select: none;
  }

  .startButtonStyle {
    display: flex;
    width: 33vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1.25vh 2.5vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // GAME BUTTONS

  .cards {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 40vh;
    box-shadow: 0 0 2px #fff, 0 0 0 #fff, 0 0 16px #fff, 0 0 22px rgb(151, 151, 151), 0 0 36px rgb(101, 102, 102), 0 0 38px rgb(69, 69, 70), 0 0 26px rgb(69, 69, 70), 0 0 72px rgb(46, 46, 46);
  }

  .cardReveal {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
  }

  .answersBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    user-select: none;
  }

  .answers {
    width: 100%;
  }

  .answer1 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border-right: 0.08em solid white;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer1:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer2 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border-right: 0.08em solid white;
    border-top: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer2:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer3 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border-left: 0.08em solid white;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer3:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer4 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 1vw;
    padding: 0.5em 0.8em !important;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer4:hover {
    //   background: radial-gradient(white, black);
    // }

  #correctAnswer {
    color: green;
    text-shadow: 0 0 0.1rem black;
  }

  #wrongAnswer {
    color: red;
    text-shadow: 0 0 0.1rem black;
  }
    
  .gameButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .gameButton {
    display: flex;
    width: 25vw;
    height: 5vh;
    line-height: 1.3em;
    font-size: 1em !important;
    font-weight: 700;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0.3em 0 !important;
    border: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .gameButton:hover {
  //   background: radial-gradient(black, white);
  // }
}

@media screen and (min-width: 1280px) {
  // GAME MENU BUTTONS

  .gameListButtonStyle {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: auto;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .mqActivated {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: auto;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
    background: radial-gradient(black, white);
    user-select: none;
  }

  .listButtonStyle {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 4vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .allButtonStyle {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 4vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .listButtonStyle:hover {
  //   background: radial-gradient(black, white);
  // }

  .activated {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1vh 4vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
    background: radial-gradient(black, white);
    user-select: none;
  }

  .enterButtonStyle {
    display: flex;
    height: 15vh;
    width: 8.4375vw;
    line-height: 1.8em;
    font-size: 1.5em !important;
    font-weight: 700;
    padding: 0.3em 0 !important;
    border: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  .difficultyBoxStyle {
    display: flex;
    width: auto;
    margin: 1vh 11vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  .difficultyStyleE {
    display: flex;
    flex: 2;
    margin-left: auto;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleE:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyStyleM {
    display: flex;
    flex: 2;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border: 0.08em solid white;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleM:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyStyleH {
    display: flex;
    flex: 2;
    margin-right: auto;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-right: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .difficultyStyleH:hover {
  //   background: radial-gradient(black, white);
  // }

  .difficultyActivated {
    display: flex;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    border-bottom: 0.08em solid white;
    color: white;
    background: radial-gradient(black, white);
    user-select: none;
  }

  .startButtonStyle {
    display: flex;
    width: 20vw;
    line-height: 1.8em;
    font-size: 1em !important;
    font-weight: 700;
    margin: 1.25vh 2.5vw;
    padding: 0.5em 0.8em !important;
    border: 0.08em solid white;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // GAME BUTTONS

  .cards {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 40vh;
    box-shadow: 0 0 2px #fff, 0 0 0 #fff, 0 0 16px #fff, 0 0 22px rgb(151, 151, 151), 0 0 36px rgb(101, 102, 102), 0 0 38px rgb(69, 69, 70), 0 0 26px rgb(69, 69, 70), 0 0 72px rgb(46, 46, 46);
  }

  .cardReveal {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
  }

  .answersBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    user-select: none;
  }

  .answers {
    width: 100%;
  }

  .answer1 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 0.5vw;
    padding: 0.5em 0.8em !important;
    border-right: 0.08em solid white;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer1:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer2 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 0.5vw;
    padding: 0.5em 0.8em !important;
    border-right: 0.08em solid white;
    border-top: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer2:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer3 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 0.5vw;
    padding: 0.5em 0.8em !important;
    border-left: 0.08em solid white;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer3:hover {
  //   background: radial-gradient(white, black);
  // }

  .answer4 {
    display: flex;
    height: 4em;
    width: 12em;
    line-height: 1em;
    font-size: 1em !important;
    margin: 1vh 0.5vw;
    padding: 0.5em 0.8em !important;
    border-left: 0.08em solid white;
    border-top: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // #answer4:hover {
    //   background: radial-gradient(white, black);
    // }

  #correctAnswer {
    color: green;
    text-shadow: 0 0 0.1rem black;
  }

  #wrongAnswer {
    color: red;
    text-shadow: 0 0 0.1rem black;
  }
    
  .gameButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .gameButton {
    display: flex;
    width: 15vw;
    height: 6vh;
    line-height: 1.3em;
    font-size: 1em !important;
    font-weight: 700;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 0.3em 0 !important;
    border: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
    user-select: none;
  }

  // .gameButton:hover {
  //   background: radial-gradient(black, white);
  // }
}

@media screen and (min-width: 1600px) {
  
}

@media screen and (min-width: 1920px) {
  
}
