/* config.css */

:root {
  // --baseColor: #606468;
  --baseColor: rgb(196, 196, 196);
}

/* helpers/align.css */

.MainContainer {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  // overflow: scroll;
  // margin: auto;
  margin: auto;
  padding: auto;
  // border: 0.08em solid goldenrod;
}

/* helpers/grid.css */

// :root {
//   --gridMaxWidth: 20rem;
//   --gridWidth: 90%;
// }

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  width: 100%;
}

/* helpers/hidden.css */

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

// :root {
//   --iconFill: var(--baseColor);
// }

// .icons {
//   display: none;
// }

// .icon {
//   display: inline-block;
//   fill: var(--iconFill);
//   font-size: 1rem;
//   height: 1em;
//   vertical-align: middle;
//   width: 1em;
// }

/* layout/base.css */

// :root {
//   --htmlFontSize: 100%;

//   --bodyBackgroundColor: #2c3338;
//   --bodyColor: var(--baseColor);
//   --bodyFontFamily: 'Open Sans';
//   --bodyFontFamilyFallback: sans-serif;
//   --bodyFontSize: 0.875rem;
//   --bodyFontWeight: 400;
//   --bodyLineHeight: 1.5;
// }

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;
}

body {
  background-image: url("https://s3-us-west-1.amazonaws.com/namethatcard/Background/SPORTSBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

// :root {
//   --anchorColor: #eee;
// }

a {
  color: white;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

// :root {
//   --formFieldMargin: 0.875rem;
// }

input {
  // background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type='button'] {
  cursor: pointer;
}

.form {
  margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='email'],
.form input[type='button'] {
  width: 100%;
}

.form__field {
  display: flex;
  margin: 0.875rem;
}

.form__input {
  flex: 1;
}

/* modules/login.css */

// :root {
//   --loginBorderRadus: 0.25rem;
//   --loginColor: #eee;

//   --loginInputBackgroundColor: #3b4148;
//   --loginInputHoverBackgroundColor: #434a52;

//   --loginLabelBackgroundColor: #363b41;

//   --loginSubmitBackgroundColor: #ea4c88;
//   --loginSubmitColor: #eee;
//   --loginSubmitHoverBackgroundColor: #d44179;
// }

.login {
  color: white;
}

.login label,
.login input[type='text'],
.login input[type='email'],
.login input[type='password'],
.login input[type='button'] {
  border-radius: 0.25rem;
  padding: 1rem;
}

// .login label {
//   background-color: #363b41;
//   padding-left: 1.25rem;
//   padding-right: 1.25rem;
// }

.login input[type='password'],
.login input[type='text'],
.login input[type='email'] {
  background-color: #363b41;

}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover,
.login input[type='email']:focus,
.login input[type='email']:hover {
  background-color: #434a52;

}

.login input[type='button'] {
  background-color: black;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.08em solid white;
}

.login input[type='button']:focus,
.login input[type='button']:hover {
  background-color: #434a52;
}

/* modules/text.css */

:root {
  --paragraphMarginBottom: 1.5rem;
  --paragraphMarginTop: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}

// *********************************************************
// menu ****************************************************
// *********************************************************

// #app {
//   display: flex;
//   flex-direction: column;
//   height: auto;
//   flex-basis: 100%;
// }

// .navigation {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   // border: 0.08em solid white;
// }

// .headers {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   margin: 1vw;
//   // border: 0.08em solid red;
// }

// .center {
//   margin: auto;
// }

// .container {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   margin-top: 2vh;
//   // border: 0.08em solid blue;
// }

// .listContainer {
//   display: flex;
//   width: 100%;
//   line-height: 1.8em;
//   margin: 20px;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   user-select: none;
//   // border: 0.08em solid purple;
// }

// .cardContainer {
//   width: 70vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   position: relative;
//   // border: 0.08em solid yellow;
// }

// .cardContainer {
//   width: 70vw;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   // border: 0.08em solid yellow;
// }

// .sliderContainer {
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 50vw;
//   // border: 0.08em solid green;
// }

// .categoryContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
// }

// .list {
//   display: flex;
//   width: 100%;
//   height: auto;
//   justify-content: center;
//   text-align: center;
//   flex-direction: row;
//   flex-wrap: wrap;
//   margin: 2vw;
// }

// .logo {
//   display: flex;
//   height: auto;
//   width: 10vw;
//   line-height: 1.8em;
//   flex-direction: row;
//   justify-content: center;
//   margin: 2vw;
//   padding: 0.5em 0.8em !important;
//   border: 0.08em solid white;
//   align-items: center;
//   align-content: center;
//   border-radius: 0.25rem;
// }

// .right-menu {
//   display: flex;
//   height: auto;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin: 0vh 2vw;
// }

// .leaderboard-menu {
//   display: flex;
//   height: auto;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin: 1vh 2vw;
//   padding: auto;
// }

// .leaderboardButton {
//   display: flex;
//   height: 5.5vh;
//   width: auto;
//   line-height: 1.8em;
//   font-size: 1em !important;
//   font-weight: 400;
//   margin: 0 1vw;
//   padding: 0.5em 0.8em !important;
//   border: 0.08em solid white;
//   cursor: pointer;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   border-radius: 0.25rem;
//   color: white;
// }

// .leaderboard {
//   display: flex;
//   width: 100%;
//   flex-direction: row;
//   justify-content: space-around;
//   text-align: center;
//   align-content: stretch;
//   align-items: center;
//   margin-top: 2vh;
//   // border: 0.08em solid white;
// }

// td, th {
//   border: 0.08em solid white;
// }

// .leaderboardRow {
//   height: auto;
//   font-size: 0.8em;
//   margin-top: 2vh;
// }

// .leaderboardContainer {
//   height: 65vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   overflow: scroll;
//   margin: 2vw;
//   padding: auto;
// }

// .leaderboardFilter {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   cursor: pointer;
//   margin: 0vh 2vw;
//   border-bottom: 0.08em solid white;
// }

// .leaderboardEntry {
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: flex-end;
//   // border-left: 0.08em solid white;
//   // border-right: 0.08em solid white;
// }

// .menu-item {
//   display: flex;
//   height: 5.5vh;
//   width: auto;
//   line-height: 1.8em;
//   font-size: 1em !important;
//   font-weight: 400;
//   margin: 2vh 1vw;
//   padding: 0.5em 0.8em !important;
//   border: 0.08em solid white;
//   cursor: pointer;
//   // justify-content: center;
//   align-items: center;
//   // align-content: center;
//   border-radius: 0.25rem;
//   color: white;
// }

// #sliderTitle {
//   margin: auto;
//   align-content: center;
// }

// .footer {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   cursor: pointer;
// }

// // .footerContainer {
// //   position: relative;
// //   bottom: 0;
// //   height: 0vh;
// // }

// .scoreFooter {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .footerLinks {
//   height: 65vh;
//   // display: flex;
//   // flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   overflow: scroll;
//   margin: auto;
//   // margin: 2vw;
//   padding: auto;
//   // border: 0.08em solid goldenrod;
// }

// .footerCenter {
//   margin-left: 6vw;
// }
