/*********************************************************
********************** LOGIN/SIGNUP **********************
*********************************************************/


.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  width: 100%;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/namethatcard/Background/GENERALBackground.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  height: 100%;
  line-height: 1.8em;
  margin: 0;
  min-height: 100vh;
}

a {
  color: white;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type='button'] {
  cursor: pointer;
}

.form {
  margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='email'],
.form input[type='button'] {
  width: 100%;
}

.form__field {
  display: flex;
  margin: 0.875rem;
}

.form__input {
  flex: 1;
}

.login {
  color: white;
}

.login label,
.login input[type='text'],
.login input[type='email'],
.login input[type='password'],
.login input[type='button'] {
  border-radius: 0.5em;
  padding: 1rem;
}

.login input[type='password'],
.login input[type='text'],
.login input[type='email'] {
  background-color: #363b41;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover,
.login input[type='email']:focus,
.login input[type='email']:hover {
  background-color: #434a52;
}

.login input[type='button'] {
  background-color: black;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
  border: 0.08em solid white;
}

.login input[type='button']:focus,
.login input[type='button']:hover {
  background-color: #434a52;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  text-shadow: 0 0 1em white;
}

.result--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  text-shadow: 0 0 1em white;
}

.resultHeader--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  font-size: 2.5em;
  text-shadow: 0 0 1em white;
}

.leaderboardTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 0vh;
  text-shadow: 0 0 1em white;
}

.pick-a-deck {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  font-size: 2em;
  text-shadow: 0 0 1em white;
}

.text--left {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  text-shadow: 0 0 1em white;
}


/*********************************************************
************************* MENU ***************************
*********************************************************/

// APP CONTAINERS

.HomescreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 75vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 75vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 12.5vh;
  max-width: 95vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.LeaderboardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 75vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.GameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 70vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 12.5vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.left-menu {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
}

.homeLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: auto;
  margin: 1vh 1vw;
}

.homeImgLogo {
  height: 10.5vh;
}

.gameLogo {
  height: 10.5vh;
}

.logo {
  display: flex;
  height: auto;
  width: auto;
  margin: 1vh 1vw;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: white;
}

.right-menu {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-item {
  display: flex;
  height: auto;
  width: auto;
  font-size: 1em !important;
  font-weight: 700;
  margin: 3vh 3vw;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 1em white;
}

.xButton {
  display: flex;
  height: auto;
  width: auto;
  font-size: 2em !important;
  font-weight: 900;
  margin: 1vh 1vw;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 0.5em white;
}

.list {
  display: flex;
  height: auto;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.enterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

// LEADERBOARD

.leaderboard-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-shadow: 0 0 1em white;
}

.leaderboard-right-menu {
  display: flex;
  height: 3vh;
  margin: 1vh 1vw;
  flex-direction: row;
  justify-content: flex-end;
  text-shadow: 0 0 1em white;
}

.leaderboardButton {
  display: flex;
  height: auto;
  width: auto;
  font-size: 1em !important;
  font-weight: 700;
  padding: 0.5em 0.8em !important;
  border-bottom: 0.08em solid white;
  cursor: pointer;
  justify-content: center;
  background-color: black;
  color: white;
  text-shadow: 0 0 1em white;
}

.leaderboard {
  display: flex;
  height: 55vh;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 2.5vh;
  margin-bottom: 3vh;
  border: 0.08em solid white;
  border-radius: 0.5em;
  background-color: black;
  box-shadow: 0em 0em 3em white;
  text-shadow: 0 0 1em white;
  overflow: scroll;
}

.leaderboardFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 0vh 2vw;
  border-bottom: 0.08em solid white;
  text-shadow: 0 0 1em white;
}

.leaderboardHeaders {
  // padding: 0.25em 1em;
}

// SLIDER

.outerSliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  margin: 1vh 1vw;
  border: 0.08em solid white;
  border-radius: 0.5em;
  background-color: black;
}

.innerSliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 2vh 2vw;
  text-shadow: 0 0 1em white;
}

.innerSliderContainer span {
  font-size: 1em;
  font-weight: 700;
}

.slider {
  display: flex;
  justify-content: center;
  width: 50vw;
}

// GAME COMPONENTS

.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

// FOOTER COMPONENTS

.footerLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 71vh;
  max-width: 95vw;
  overflow: scroll;
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

.disclaimer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  line-height: 1em;
}

.gameDisclaimer {
  text-align: center;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.7em;
  line-height: 1em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  cursor: pointer;
}

.disclaimerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.scoreFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 35vw;
  margin-bottom: 4vh;
}

.gameScore {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 0 1em white;
}

.totalScore {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 700;
  color: #5dc428;
  text-shadow: 0 0 0.5rem black;
}

.h2-margins {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.p-margins {
  margin-top: 0.1em;
  margin-bottom: 1em;
}

// RESULTS

.imgLink {
  height: 10vh;
}


/*********************************************************
********************* MEDIA QUERIES **********************
*********************************************************/


@media screen and (min-width: 768px) {
  html {
    box-sizing: border-box;
    font-size: 20px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-image: url("https://s3-us-west-1.amazonaws.com/namethatcard/Background/GENERALBackground.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: 100%;
    line-height: 1.8em;
    margin: 0;
    min-height: 100vh;
  }

  .text--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    text-shadow: 0 0 1em white;
  }

  .result--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-shadow: 0 0 1em white;
  }
  
  .resultHeader--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 2.5em;
    text-shadow: 0 0 1em white;
  }
  
  .leaderboardTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 0vh;
    text-shadow: 0 0 1em white;
  }
  
  .pick-a-deck {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 2em;
    text-shadow: 0 0 1em white;
  }
  
  .text--left {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-shadow: 0 0 1em white;
  }

  // APP CONTAINERS

  .HomescreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12.5vh;
    max-width: 70vw;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .LeaderboardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .GameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 70vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 12.5vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .left-menu {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .homeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: auto;
    margin: 1vh 1vw;
  }

  .homeImgLogo {
    height: 10.5vh;
  }

  .gameLogo {
    height: 10.5vh;
  }

  .logo {
    display: flex;
    height: auto;
    width: auto;
    margin: 1vh 1vw;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: white;
  }

  .right-menu {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu-item {
    display: flex;
    height: auto;
    width: auto;
    font-size: 1em !important;
    font-weight: 700;
    margin: 3vh 3vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .xButton {
    display: flex;
    height: auto;
    width: auto;
    font-size: 2em !important;
    font-weight: 900;
    margin: 1vh 1vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .list {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .enterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  // LEADERBOARD

  .leaderboard-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 0 0 1em white;
  }

  .leaderboard-right-menu {
    display: flex;
    height: 3vh;
    margin: 1vh 1vw;
    flex-direction: row;
    justify-content: flex-end;
    text-shadow: 0 0 1em white;
  }

  .leaderboardButton {
    display: flex;
    height: auto;
    width: auto;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .leaderboard {
    display: flex;
    height: 55vh;
    // width: 100%;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: space-between;
    align-items: flex-start;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
    border: 0.08em solid white;
    border-radius: 0.5em;
    background-color: black;
    box-shadow: 0em 0em 3em white;
    text-shadow: 0 0 1em white;
    overflow: scroll;
  }

  .leaderboardFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0vh 2vw;
    border-bottom: 0.08em solid white;
    text-shadow: 0 0 1em white;
  }

  .leaderboardHeaders {
    width: 5vw;
    padding: 0.25em 0.5em;
  }

  // SLIDER

  .outerSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    margin: 1vh 1vw;
    border: 0.08em solid white;
    border-radius: 0.5em;
    background-color: black;
  }

  .innerSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 2vh 2vw;
    text-shadow: 0 0 1em white;
  }

  .innerSliderContainer span {
    font-size: 1em;
    font-weight: 700;
  }

  .slider {
    display: flex;
    justify-content: center;
    width: 37.5vw;
  }

  // GAME COMPONENTS

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  // FOOTER COMPONENTS

  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 71vh;
    max-width: 70vw;
    overflow: scroll;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }

  .disclaimer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    line-height: 1em;
  }

  .gameDisclaimer {
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    line-height: 1em;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
  }

  .disclaimerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }

  .scoreFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    width: 35vw;
    margin-bottom: 4vh;
  }

  .gameScore {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 0 0 1em white;
  }

  .totalScore {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    font-weight: 700;
    color: #5dc428;
    text-shadow: 0 0 0.5rem black;
  }

  .h2-margins {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .p-margins {
    margin-top: 0.3em;
    margin-bottom: 1.3em;
  }
}

@media screen and (min-width: 1280px) {
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-image: url("https://s3-us-west-1.amazonaws.com/namethatcard/Background/GENERALBackground.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    height: 100%;
    line-height: 1.8em;
    margin: 0;
    min-height: 100vh;
  }

  .text--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    text-shadow: 0 0 1em white;
  }

  .result--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-shadow: 0 0 1em white;
  }
  
  .resultHeader--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 2.5em;
    text-shadow: 0 0 1em white;
  }
  
  .leaderboardTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 0vh;
    text-shadow: 0 0 1em white;
  }
  
  .pick-a-deck {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-size: 2em;
    text-shadow: 0 0 1em white;
  }
  
  .text--left {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-shadow: 0 0 1em white;
  }

  // APP CONTAINERS

  .HomescreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12.5vh;
    max-width: 70vw;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .LeaderboardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 75vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .GameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 70vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 12.5vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  .left-menu {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .homeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: auto;
    margin: 1vh 1vw;
  }

  .homeImgLogo {
    height: 10.5vh;
  }

  .gameLogo {
    height: 10.5vh;
  }

  .logo {
    display: flex;
    height: auto;
    width: auto;
    margin: 1vh 1vw;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: white;
  }

  .right-menu {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu-item {
    display: flex;
    height: auto;
    width: auto;
    font-size: 1em !important;
    font-weight: 700;
    margin: 3vh 3vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .xButton {
    display: flex;
    height: auto;
    width: auto;
    font-size: 2em !important;
    font-weight: 900;
    margin: 1vh 1vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .list {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .enterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12.5vh;
    margin-bottom: 5vh;
  }

  .categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  // LEADERBOARD

  .leaderboard-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 0 0 1em white;
  }

  .leaderboard-right-menu {
    display: flex;
    height: 3vh;
    margin: 1vh 1vw;
    flex-direction: row;
    justify-content: flex-end;
    text-shadow: 0 0 1em white;
  }

  .leaderboardButton {
    display: flex;
    height: auto;
    width: auto;
    font-size: 1em !important;
    font-weight: 700;
    padding: 0.5em 0.8em !important;
    border-bottom: 0.08em solid white;
    cursor: pointer;
    justify-content: center;
    background-color: black;
    color: white;
    text-shadow: 0 0 1em white;
  }

  .leaderboard {
    display: flex;
    height: 55vh;
    width: 100%;
    // flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: space-around;
    align-items: flex-start;
    margin-top: 2.5vh;
    margin-bottom: 3vh;
    // border: 0.08em solid white;
    border-radius: 0.5em;
    background-color: black;
    // box-shadow: 0em 0em 3em white;
    text-shadow: 0 0 1em white;
    // overflow: scroll;
  }

  .leaderboardFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0vh 2vw;
    border-bottom: 0.08em solid white;
    text-shadow: 0 0 1em white;
  }

  .leaderboardHeaders {
    width: 5vw;
    padding: 0.25em 0.5em;
  }

  // SLIDER

  .outerSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    margin: 1vh 11vw;
    border: 0.08em solid white;
    border-radius: 0.5em;
    background-color: black;
  }

  .innerSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 2vh 2vw;
    text-shadow: 0 0 1em white;
  }

  .innerSliderContainer span {
    font-size: 1em;
    font-weight: 700;
  }

  .slider {
    display: flex;
    justify-content: center;
    width: 30vw;
  }

  // GAME COMPONENTS

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  // FOOTER COMPONENTS

  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 71vh;
    max-width: 70vw;
    overflow: scroll;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }

  .disclaimer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    line-height: 1em;
  }

  .gameDisclaimer {
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    line-height: 1em;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    cursor: pointer;
  }

  .disclaimerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }

  .scoreFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    width: 35vw;
    margin-bottom: 4vh;
  }

  .gameScore {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 0 0 1em white;
  }

  .totalScore {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    font-weight: 700;
    color: #5dc428;
    text-shadow: 0 0 0.5rem black;
  }

  .h2-margins {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .p-margins {
    margin-top: 0.3em;
    margin-bottom: 1.3em;
  }
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 1600px) {
  
}

@media screen and (min-width: 1920px) {
  
}
